﻿<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a asp-action="Index" asp-controller="Dashboard" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="CreateProduct" asp-controller="Product" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Add Product
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="GetProductDataView" asp-controller="Product" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Show Product
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="AllProductsWithEditAndDeleteButton" asp-controller="Product" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Edit/Delete Product
                </p>
            </a>
        </li>

    </ul>
</nav>